@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header{
    padding: 2.1875rem 1.5rem 1.8125rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}