@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.web{
    position: relative;
    padding: 0 0 17.875rem;

    &__cards{
        width: 87.2%;
        margin: auto;
        max-width: 69.4375rem;
        margin-top: 6rem;

        @include tablet{
            width: 90%;
        }
    }
}