@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.locations{
    padding-bottom: 19.375rem;

    @include tablet{
        padding-bottom: 24rem;
    }
}

.card{
    margin-top: 2.5rem;

    @include mid-mobile{
        margin-top: 4.5rem;
    }

    @include mid-tablet{
        margin-top: 2rem;
    }
}