@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.card{
    width: 23.4375rem;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type{

        @include tablet{
            margin-top: 0;
        }
    }

    &:nth-of-type(odd){

        .card__first{

            @include desktop{
                order: 1;
                border-radius: 0 0.9375rem 0.9375rem 0;
            }
        }

        .card__last{

            @include desktop{
                border-radius: 0.9375rem 0 0 0.9375rem;

                &--light{
                    background-position: left bottom;
                }
            }
        }
    }

    @include tablet{
        width: 43.0625rem;
        margin: 7.5rem auto 0;
    }

    @include desktop{
        width: fit-content;
        display: flex;
        margin-top: 10rem;
    }

    &__first{
        height: 20rem;

        @include tablet{
            border-radius: 0.9375rem 0.9375rem 0 0;
        }

        @include desktop{
            border-radius: 0.9375rem 0 0 0.9375rem;
            height: 40rem;
            width: 29.75rem;

        }

        &--hero{
            background-image: url("../../../public/about/mobile/image-about-hero.jpg");

            @include tablet{
                background-image: url("../../../public/about/tablet/image-about-hero.jpg");
            }

            @include desktop{
                background-image: url("../../../public/about/desktop/image-about-hero.jpg");
                height: 30rem;
            }
        }

        &--world{
            background-image: url("../../../public/about/mobile/image-world-class-talent.jpg");

            @include tablet{
                background-image: url("../../../public/about/tablet/image-world-class-talent.jpg");
            }

            @include desktop{
                background-image: url("../../../public/about/desktop/image-world-class-talent.jpg");
            }
        }

        &--real{
            background-image: url("../../../public/about/mobile/image-real-deal.jpg");

            @include tablet{
                background-image: url("../../../public/about/tablet/image-real-deal.jpg");
            }

            @include desktop{
                background-image: url("../../../public/about/desktop/image-real-deal.jpg");
            }
        }
    }

    &__last{
        padding: 5rem 1.5rem;
        text-align: center;

        @include tablet{
            padding: 4rem 3.625rem;
            border-radius: 0 0 0.9375rem 0.9375rem;
        }

        @include desktop{
            border-radius: 0 0.9375rem 0.9375rem 0;
            width: 39.6875rem;
            height: 40rem;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--peach{
            background-color: $peach;
            background-image: url("../../../public/about/desktop/bg-pattern-hero-about-desktop.svg");
            background-repeat: no-repeat;
            background-size: 18.25rem 18.25rem;
            background-position: right -9.125rem;
            color: $white;

            @include tablet{
                background-size: 40rem 40rem;
                background-position: right 10.6875rem bottom 6.3125rem;
                background-position: bottom center;
            }

            @include desktop{
                height: 30rem;
            }
        }

        &--light{
            background-color: #FDF3F0;
            background-image: url("../../../public/shared/desktop/bg-pattern-three-circles.svg");
            background-repeat: repeat;
            background-size: 54.75rem 36.5rem;
            background-position: left top;
            color: $peach;
            
            @include desktop{
                background-image: url("../../../public/shared/desktop/bg-pattern-two-circles.svg");
                background-size: unset;
                background-repeat: no-repeat;
                background-position: right 9.125rem bottom 0;
            }
        }
    }

    &__title{
        @include heading-2;

        @include tablet{
            @include heading-4;
        }

        &--h2{

            @include tablet{
                @include heading-3;
            }
        }
    }

    &__description{
        @include body-1;
        margin-top: 1.5rem;

        @include tablet{
            @include body-2;
        }

        &--white{
            color: $white;
        }

        &--black{
            color: $dark-grey;
        }
    }
}