@use "../styles/mixins" as *;
@use "../styles/variables" as *;

.home{
    position: relative;
    padding-bottom: 19.4375rem;

    @include tablet{
        padding-bottom: 20.6875rem;
    }

    &__hero{
        background-color: #E7816B;
        padding-top: 5rem;
        background-image: url("../../public/shared/desktop/bg-pattern-small-circle.svg");
        background-position: clamp(0rem, -10.138rem + 43.257vi, 10.625rem);
        background-repeat: no-repeat;
        background-size: 640px 640px;

        @include tablet{
            margin: auto;
            width: 90%;
            border-radius: 0.9375rem;
            background-position: clamp(10.625rem, -10.875rem + 44.792vi, 29.438rem);
            max-width: 69.4375rem;
        }

        @include desktop{
            width: 69.4375rem;
            padding: 0 0 0 5.9375rem;
            height: 40rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    &__heading{
        @include heading-2;
        color: $white;
        text-align: center;
        max-width: 20.4375rem;
        margin: auto;

        @include tablet{
            @include heading-4;
            max-width: 35.8125rem;
        }

        @include desktop{
            margin: 9.0625rem 0 0 0;
            text-align: left;
            max-width: 33.75rem;
        }
    }

    &__paragraph{
        @include body-1;
        color: $white;
        max-width: 20.4375rem;
        margin: auto;
        text-align: center;
        margin-top: 0.875rem;

        @include tablet{
            @include body-2;
            margin-top: 2rem;
        }

        @include desktop{
            text-align: left;
            margin: 2rem 0 0 0;
            max-width: 27.8125rem;
        }
    }

    &__learn{
        display: block;
        width: fit-content;
        margin: 1.5rem auto 0;
        position: relative;
        z-index: 1;

        @include tablet{
            margin-top: 1.25rem;
        }

        @include desktop{
            margin: 2.5rem 0 0 0;
        }
    }

    &__cover-container{
        width: 100%;
        height: 33.8125rem;
        background-image: url("../../public/home/desktop/image-hero-phone.png");
        background-position-x: center;
        margin-top: -5.625rem;
        background-repeat: no-repeat;

        @include tablet{
            height: 34.875rem;
            margin-top: -6.3125rem;
        }

        @include desktop{
            width: 46.8504%;
            height: 100%;
            margin-top: 0;
        }
    }
}

.designs{
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @include desktop{
        margin: 10rem auto 0;
        height: 40rem;
        width: 69.4375rem;
        flex-wrap: wrap;
    }

    &__item{
        width: 87.2%;
        margin: auto;

        @include tablet{
            max-width: 69.4375rem;
        }

        @include desktop{
            width: fit-content;
            margin: 0;
            
            &:not(:first-of-type){
                margin-left: auto;
            }
        }
    }

    &__link{
        padding: 5.625rem 0;
        text-align: center;
        color: $white;
        border-radius: 0.9375rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include tablet{
            padding: 3.3125rem 0;
        }

        @include desktop{
            padding: 0;
            width: 33.8125rem;
            height: 19.25rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            column-gap: 1.5rem;
        }

        &--web{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-web-design.jpg");

            @include tablet{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/tablet/image-web-design.jpg");
            }

            @include desktop{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/desktop/image-web-design-large.jpg");
                height: 40rem;
            }
        }

        &--app{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-app-design.jpg");

            @include tablet{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/tablet/image-app-design.jpg");
            }

            @include desktop{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/desktop/image-app-design.jpg");
            }
        }

        &--graphic{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-graphic-design.jpg");

            @include tablet{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/tablet/image-graphic-design.jpg");
            }

            @include desktop{
                background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/desktop/image-graphic-design.jpg");
            }
        }
    }

    &__title{
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: 1.4px;
        line-height: 1.28571;

        @include tablet{
            @include heading-3;
        }

        @include desktop{
            width: 100%;
        }
    }

    &__sub{
        font-size: 0.9375rem;
        font-weight: 500;
        letter-spacing: 5px;
        display: flex;
        column-gap: 1rem;
        justify-content: center;

        &::after{
            display: block;
            content: url("../../public/shared/desktop/icon-right-arrow.svg");
        }
    }
}

.characters{
    margin: 7.5rem auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    max-width: 69.4375rem;

    @include desktop{
        margin-top: 10rem;
        flex-direction: row;
        justify-content: space-between;
    }

    &__background{
        background-image: url("../../public/shared/desktop/bg-pattern-small-circle.svg");
        background-repeat: no-repeat;
        background-position: center;

        @include tablet{
            width: fit-content;
        }

        @include desktop{
            margin: auto;
        }

        &--270{
            transform: rotate(-90deg);

            & > *{
                transform: rotate(90deg);
            }
        }

        &--90{
            transform: rotate(90deg);

            & > *{
                transform: rotate(-90deg);
            }
        }
    }

    &__item{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include tablet{
            max-height: 13rem;
            margin: auto;
            text-align: left;
            column-gap: 3rem;
            row-gap: 1rem;
        }

        @include desktop{
            display: block;
            max-height: none;
            text-align: center;
            width: 21.875rem;
            margin: 0;
        }
    }

    &__title{
        @include heading-1;
        margin-top: 2.5625rem;
    }

    &__description{
        @include body-2;
        margin: 2rem auto 0;
        width: 87.2%;

        @include tablet{
            max-width: 63.71553%;
            margin: 0;
        }

        @include desktop{
            max-width: none;
            width: 100%;
        }
    }
}