@use "../styles/mixins" as *;
@use "../styles/variables" as *;

.home{
    position: relative;
    padding-bottom: 19.4375rem;

    &__hero{
        background-color: #E7816B;
        padding-top: 5rem;
        background-image: url("../../public/shared/desktop/bg-pattern-small-circle.svg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 640px 640px;
    }

    &__heading{
        @include heading-2;
        color: $white;
        text-align: center;
        max-width: 20.4375rem;
        margin: auto;
    }

    &__paragraph{
        @include body-1;
        color: $white;
        max-width: 20.4375rem;
        margin: auto;
        text-align: center;
        margin-top: 0.875rem;
    }

    &__learn{
        display: block;
        width: fit-content;
        margin: 1.5rem auto 0;
        position: relative;
        z-index: 1;
    }

    &__cover-container{
        width: 100%;
        height: 33.8125rem;
        background-image: url("../../public/home/desktop/image-hero-phone.png");
        background-position-x: center;
        margin-top: -5.625rem;
        background-repeat: no-repeat;
    }
}

.designs{
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    &__item{
        width: 87.2%;
        margin: auto;
    }

    &__link{
        padding: 5.625rem 3.5rem;
        text-align: center;
        color: $white;
        border-radius: 0.9375rem;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &--web{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-web-design.jpg");
        }

        &--app{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-app-design.jpg");
        }

        &--graphic{
            background-image: linear-gradient(0deg, #00000099, #00000099), url("../../public/home/mobile/image-graphic-design.jpg");
        }
    }

    &__titles{
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: 1.4px;
        line-height: 1.28571;
    }

    &__sub{
        font-size: 0.9375rem;
        font-weight: 500;
        letter-spacing: 5px;
        display: flex;
        column-gap: 1rem;
        justify-content: center;

        &::after{
            display: block;
            content: url("../../public/shared/desktop/icon-right-arrow.svg");
        }
    }
}

.characters{
    margin: 7.5rem 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    &__background{
        background-image: url("../../public/shared/desktop/bg-pattern-small-circle.svg");
        background-repeat: no-repeat;
        background-position: center;

        &--270{
            transform: rotate(-90deg);

            & > *{
                transform: rotate(90deg);
            }
        }

        &--90{
            transform: rotate(90deg);

            & > *{
                transform: rotate(-90deg);
            }
        }
    }

    &__item{
        text-align: center;
    }

    &__title{
        margin-top: 3rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 5px;
    }

    &__description{
        @include body-2;
        margin: 2rem auto 0;
        width: 87.2%;
    }
}